.Rproj.user
.Rhistory
.RData
.RDataTmp*
.Rprofile
.httr-oauth
.DS_Store
.quarto
figure/

datos/crudos/*
!datos/crudos/.gitkeep
datos/procesados/*
!datos/procesados/.gitkeep
datos/**/*.csv
*.sav
*.parquet